body, html{
    margin: 0px;
}
.Header{
    margin:0 15%    ;
    
}

#logo{
    float: left;
    width:105px;height:21px;
    padding:13px 20px 14px 12px;
    margin-top: 1px;
    
}


#logo img{
    border:0px;
    width:108px;
    
}

nav ul{
    float: left;
    margin:0;
    padding:0;
    list-style: none;
    
}
nav ul li{
    margin:14px 27px 10px;
    float: left;

}
nav ul li:hover{
    border-bottom:solid;
}

li a{
    text-decoration:none;
    color: black; 
}

.actions{
    float:right;

}
.actions div{
    float:right;
    line-height: 45px;
    margin:auto 10px;
}
.actions a:nth-of-type(1){
    text-decoration: none;

}


.actions a i:hover{
    font-weight: bolder;

}
.actions div:nth-of-type(1) a:hover{
    font-weight: bolder;
    color:skyblue;
}


.divBody{
    padding:0 15%;
    display:block;
    

}
.longpic1{
    width:100%;height:500px;
    background: url(./image/1.jpg);
    clear:both;
    background-repeat: no-repeat;
    background-size:100% 500px;
    
}


.text{
    float: right;
    position: relative;
    right:40px;top:20px;

}

.text div:nth-child(1){
    font-weight: bolder;
    font-size:25px;
}
.buy{
    background: black;
    font-weight: bolder;
    width:125px;height:50px;
    text-align: center;
    line-height: 50px;
}
.buy a:hover{
    border-bottom:solid;
}
.buy a{
    color:white;
    text-decoration: none;
}
.buy i{
    margin-left: 0px;
    transition:0.5s;
}
.buy:hover i{
    margin-left: 10px;
} 

.shortpic i{
    margin-left:0px;
    transition:0.5s;
}
.shortpic a:hover + i{
    margin-left:10px;
}
.shortpic a{
    text-decoration:none;
    color:blue;
    
}
.shortpic a:nth-of-type(1):hover{
    border-bottom:solid;
    
}
.shortpic>div{
    float: left;
    margin-right:64px;
    margin-top:50px;
}

.shortpic>div:hover{
    cursor: pointer;
}


.shortpic img{
    width:287px;height:160px;
}
.shortpic div:nth-child(4){
    float:right;
    margin-right:0;

}
.shortpic div:nth-child(3){
    margin-right:10px;

}
#clear{
    clear:both;
}

.weixin-icon{
    width:30px;height:30px;
    
}
.weibo-icon{
    width:35px;height:35px;
 
}
#weichat_ma{
    border:solid;
    background:url(./image/weichat-ma.jpg) no-repeat;
    width: 205px;
    height: 100px;
    position:absolute;
    left:100px;
    display:none;
}
#clear + div{
    position:relative;
    /* 先设置父元素相对定位,再设置子元素绝对定位,这样让子元素脱离文档流,再隐藏,用hover让子元素变成块元素出现,完成. */
}
.weixin-icon:hover {
    cursor: pointer;
}
.weixin-icon:hover ~ #weichat_ma {
    cursor: pointer;
    display: block; 
}


.divFoot{
    width:100%;height: 250px;
    background: rgb(238, 238, 238);
}


.divFootmid{
    margin:0 15%;
    
}
.divFootmid ul{
    float:left;
    margin-right:100px;
    list-style: none;
    padding-left:0;


}
.divFootmid ul li{
    margin-top: 10px;
    opacity:0.8;
}
.divFootmid ul li:hover{
    opacity:1;
}